body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Montserrat", "Quicksand";
  color: rgb(116, 106, 106);
  /* background: linear-gradient(to bottom, #eff6ff, #ffffff, #dbeafe); */
}

@keyframes slide-down {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  animation: slide-down 2s ease-in-out both;
}
